{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

<div class= "white-windows" style = " overflow:scroll ; max-height: 700px;" >


 <section class= "div_projet_creation">

<table class="table">
  <h2 id = "title-box-projet">Les projets traduits</h2>
<thead>
 <tr>
      <th scope="col">Projet</th>
      <th scope="col">Source :</th>
    </tr>
</thead>
 {% for data in lestraductions %}
<tbody>
 <tr>
    
     <td> {{data.project.name}}</td>
      <td> {{data.content}}</td>
       {# <td>{{data["datatraduction"]}}</td>    #}
</tr>
    </tbody>

{% endfor %}
  </table>

  <h2 id = "title-box-projet">Mes Langues</h2>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Code langue
  </div>
  <ul class="list-group list-group-flush">
{% for userlangue in userlangues %}
 <li class="list-group-item">{{userlangue.langue}}</li>
{% endfor %}

</ul>
</div>

 <h2 id = "title-box-projet">Description</h2>
{% if userdescription == null %}
  <p id = "description"> pas de description </p>

{% else %}
 <p id = "description"> {{userdescription}} </p>
  {% endif %}


   {{ form_start(form, { 'attr' : { 'class': 'form_projet_creation' } }) }}
	
 <h2 id = "title-box-projet">Modifier description</h2>
    <div class = "col-auto">
		{{ form_label(form.description,'description : ', {'label_attr': {'class': 'form-label'}})  }}
		{{form_row(form.description , {'attr' : {'class' : 'form-control'}}) }} 
	<div>
      
{{form_end(form)}}


 {{ form_start(form_langue, { 'attr' : { 'class': 'form_projet_creation' } }) }}
	
 <h2 id = "title-box-projet">Modifier Langue</h2>
    <div class = "col-auto">
		{{ form_label(form_langue.langue,'langue : ', {'label_attr': {'class': 'form-label'}})  }}
		{{form_row(form_langue.langue , {'attr' : {'class' : 'form-control'}}) }} 
	<div>
      
{{form_end(form_langue)}}

<a href="{{path('app_dashboard')}}">Dashbord</a>
 </div>
{% endblock %}
