{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}


 <h2>Description</h2>
{% if userdescription == null %}
  <p id = "description"> pas de description </p>

{% else %}

<p id = "description"> {{userdescription}} </p>
  {% endif %}

<a href="{{path('app_dashboard')}}">Dashbord</a>

<table class="table">
  <h2>Les projets traduits</h2>
<thead>
 <tr>
      <th scope="col">Projet</th>
      <th scope="col">Source :</th>
    </tr>
</thead>
 {% for data in lestraductions %}
<tbody>
 <tr>
    
     <td> {{data.project.name}}</td>
      <td> {{data.content}}</td>
       {# <td>{{data["datatraduction"]}}</td>    #}
</tr>
    </tbody>

{% endfor %}
  </table>

  <h2>Mes Langues</h2>
<table class="table">
<thead>
 <tr>
      <th scope="col">Code langue</th>
    </tr>
</thead>

  
{% for userlangue in userlangues %}
 <tr>
   <td> {{userlangue.langue}}</td>
 </tr>
  </tbody>
{% endfor %}


  </table>

<div class = "align">
   {{ form_start(form, { 'attr' : { 'class': 'form_projet_creation' } }) }}
	
 <h3 id = "title-box-projet">Modifier description</h3>
    <div class = "col-auto">
		{{ form_label(form.description,'description : ', {'label_attr': {'class': 'form-label'}})  }}
		{{form_row(form.description , {'attr' : {'class' : 'form-control'}}) }} 
	<div>
      
{{form_end(form)}}

</div>
 {{ form_start(form_langue, { 'attr' : { 'class': 'form_projet_creation' } }) }}
	
 <h3 id = "title-box-projet">Modifier Langue</h3>
    <div class = "col-auto">
		{{ form_label(form_langue.langue,'langue : ', {'label_attr': {'class': 'form-label'}})  }}
		{{form_row(form_langue.langue , {'attr' : {'class' : 'form-control'}}) }} 
	<div>
      
{{form_end(form_langue)}}


{% endblock %}
