{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

  {% if lesprojets == null %}
    <img id = "homeimg" src="{{asset('home.png')}}"  alt="logo">
 {% else %}
 {# <div class= "white-windows" style ='height : 700px; padding-top : 50px'> #}
  {% for article in articles %}

    {% for count in projectcount %} 
     
      {% if count.id  == article.id %} 
{# <figure > #}
<div class = "cards"> 
<div class = "circle"><img id = "drapimg" src="{{asset('france.png')}}"  alt="logo"> </div> 
<div class = "cardbody"> 
<h5 class="card-title">{{article.name}}</h5>
<p class="card-text">langue: {{article.langue}} </p> 
<p class="card-text"><span>Nombre de source traduite:</span> {{count.traductions}}/ {{count.sources}} </p>
<a href="{{path('app_traducte_source', {'id':article.id}) }}" class="btnTraduct">traduire</a>
 </div>


</div>
 {% endif %}
{# <div class="card mb-3" style="width: 18rem; margin-left : 100px ; display : inline-block" >
  <div class="card-body">
   
    
     {#  #}
     {#  #}
     {# #}
    {# <a href="{{path('app_traducte_source', {'id':article.id}) }}" class="btn btn-primary">traduire</a>

  </div> #}
 
{# </div> #}
    {% endfor %}
    {% endfor %}
    {{ knp_pagination_render(articles) }}
  {# </div>   #}
   
 {% endif %}

{% endblock %}
