{% extends 'base.html.twig' %}

{% block title %}Hello SignUpController!{% endblock %}

{% block body %}
<div class = "white-windows-auth"> 
{{ form_start(form, { 'attr' : { 'class': 'subscription' } }) }}
	<h2>Inscription</h2>
		<div class = "mb-3">
		{{ form_label(form.username,'Nom', {'label_attr': {'class': 'form-label'}})  }}
		{{form_row(form.username , {'attr' : {'class' : 'form-control'}}) }} 
		</div>

		 <div class="mb-3">
		{{form_label(form.email,'Email', {'label_attr': {'class': 'form-label'}})}}
		{{form_row(form.email, {'attr' : {'class' : 'form-control'}})}} 
		</div>
		<div class="mb-3">
		{{form_row(form.password, {'attr' : {'class' : 'form-control'}})}} 
		</div>

		
{{form_end(form)}}
</div>

{% endblock %}
